@font-face {
  font-family: mc-l;
  src: url(../font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../font/mplus-1m-medium.ttf) format("opentype"); }

.vertical {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl; }

* {
  padding: 0;
  margin: 0; }

.center {
  width: 80%;
  margin: 0 auto; }

.partical {
  width: 90%;
  background-color: #000;
  margin: 10px 0;
  margin: 0 auto; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

body {
  background-color: #FEFEFE;
  font-family: "Noto Sans Japanese";
  font-size: 12px;
  color: #222222; }

::-moz-selection {
  background-color: #ff0033; }

::selection {
  background-color: #ff0033; }

::-moz-selection {
  background-color: #ff0033; }

header {
  height: 386px;
  width: 100%;
  overflow: hidden; }
  header .share {
    width: 100%;
    overflow: hidden;
    margin-top: 20px; }
    header .share .share-box {
      float: right;
      margin-right: 36px; }
      header .share .share-box .share-text {
        line-height: 38px;
        font-size: 14px;
        vertical-align: top;
        margin-right: 6px;
        font-weight: 500; }
      header .share .share-box .fa {
        font-size: 34px;
        margin: 0 6px; }
      header .share .share-box a {
        text-decoration: none;
        color: #222222; }
        header .share .share-box a:hover {
          color: #ff0033; }
  header h1 {
    text-align: center; }
    header h1 img {
      width: 400px; }
  header .links {
    width: 520px;
    margin: 30px auto 0; }
    header .links a {
      text-decoration: none;
      color: #fff;
      background-color: #ff0033;
      width: 240px;
      display: inline-block;
      height: 60px;
      text-align: center;
      line-height: 60px;
      font-size: 16px;
      border-radius: 6px;
      letter-spacing: 0.8px; }
      header .links a:hover {
        box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
        opacity: 0.8; }
      header .links a:first-child {
        margin-right: 32px; }
  header nav {
    width: 614px;
    margin: 0 auto;
    overflow: hidden; }
    header nav ul {
      width: 100%;
      margin-top: 74px;
      overflow: hidden; }
      header nav ul li {
        float: left;
        list-style-type: none;
        margin: 0 50px; }
        header nav ul li:first-child {
          margin-left: 0; }
        header nav ul li:last-child {
          margin-right: 0; }
        header nav ul li a {
          text-decoration: none;
          color: #222;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 2px; }

.image_view {
  height: 523px;
  width: 100%;
  background-size: cover;
  background-position: 0 -200px;
  background-image: url(../img/nippo-hero.jpg); }

.about {
  margin-top: 150px;
  padding-bottom: 100px;
  overflow: hidden; }
  .about h2 {
    margin-left: 110px;
    font-size: 16px;
    line-height: 30px; }
    .about h2 img {
      width: 159px; }
  .about .comment {
    font-weight: bold;
    margin-top: 35px;
    font-size: 36px;
    letter-spacing: 1px;
    margin-left: 105px;
    color: #333333; }
  .about .description {
    margin-left: 110px;
    margin-top: 40px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    float: left; }
    .about .description a {
      background-color: #ff0033;
      color: #fff;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 1px;
      border-radius: 6px;
      margin-top: 40px;
      text-decoration: none;
      text-align: center;
      line-height: 48px;
      display: inline-block;
      width: 253px;
      height: 48px; }
      .about .description a:hover {
        box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
        opacity: 0.8; }
  .about .scsho {
    float: right;
    width: 660px;
    margin-top: 40px; }

.way {
  background-color: #ff0033;
  margin-top: 120px;
  padding-top: 150px; }
  .way h2 {
    font-size: 64px;
    text-align: center;
    color: #fff;
    text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.5); }
  .way .sub-title {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-weight: medium;
    font-size: 24px;
    overflow: hidden; }
  .way .container {
    width: 1050px;
    margin: 0 auto;
    margin-top: 105px; }
    .way .container .steps {
      width: 446px;
      height: 385px;
      background-color: #fff;
      border: solid 7px #222222;
      border-radius: 23px;
      float: left;
      margin-right: 110px;
      margin-bottom: 80px;
      position: relative;
      text-align: center; }
      .way .container .steps:nth-child(2n) {
        margin: 0; }
      .way .container .steps h3 {
        position: absolute;
        top: -40px;
        left: 132px;
        z-index: 100; }
      .way .container .steps .ma {
        margin-top: 80px; }
      .way .container .steps h4 {
        font-size: 18px;
        margin-top: 9px;
        letter-spacing: 1px;
        font-weight: bold; }
      .way .container .steps p {
        font-weight: 500;
        font-size: 14px;
        margin-top: 14px;
        letter-spacing: 0.6px;
        line-height: 22px; }
    .way .container .clear {
      clear: both;
      height: 60px; }

.version {
  background-color: #ff0033;
  padding-top: 150px;
  padding-bottom: 150px; }
  .version .contaier2 {
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 8px #222222;
    border-radius: 28px;
    padding-bottom: 100px; }
    .version .contaier2 h2 {
      font-size: 64px;
      text-align: center;
      color: #ff0033;
      margin-top: 50px;
      text-shadow: 6px 6px 0 #be514c; }
    .version .contaier2 .sub-title {
      text-align: center;
      color: #ff0033;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 24px;
      overflow: hidden; }
    .version .contaier2 .v {
      margin-top: 60px; }
      .version .contaier2 .v h5 {
        width: 222px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        border: solid 5px #222222;
        font-size: 24px;
        margin: 0 auto 28px; }
      .version .contaier2 .v p {
        width: 500px;
        margin: 0 auto;
        font-size: medium;
        font-size: 14px;
        line-height: 36px; }
        .version .contaier2 .v p .right {
          float: right; }
    .version .contaier2 .partial {
      height: 2px;
      margin: 60px auto;
      width: 90%;
      background-color: #222222; }

.contact {
  margin-top: 150px; }
  .contact h2 {
    font-size: 64px;
    text-align: center;
    color: #ff0031;
    text-shadow: 5px 5px 0 #be514c; }
  .contact .sub-title {
    text-align: center;
    color: #ff0031;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden; }
  .contact p {
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .contact .p1 {
    margin-top: 52px; }
  .contact .p2 {
    margin-top: 10px; }
  .contact .address {
    margin: 45px auto 0;
    width: 550px; }
    .contact .address a {
      text-decoration: none;
      color: #222222;
      margin-right: 100px; }
      .contact .address a:hover {
        color: #ff0031; }
      .contact .address a:last-child {
        margin: 0; }
      .contact .address a .ad {
        font-size: 64px; }
  .contact .to-top {
    width: 60px;
    height: 60px;
    margin: 150px auto 60px;
    border: solid #222222 2px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center; }
    .contact .to-top a {
      font-size: 26px;
      text-decoration: none;
      display: block; }

footer {
  text-align: center;
  background-color: #222222;
  padding-bottom: 10px; }
  footer img {
    width: 340px;
    margin-top: 50px; }
  footer .share2 {
    margin-top: 42px; }
    footer .share2 p {
      text-align: center;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 300;
      margin-bottom: 18px; }
    footer .share2 a {
      height: 66px;
      width: 66px;
      display: inline-block;
      border: #fff solid 2px;
      margin: 0 15px; }
      footer .share2 a .fa {
        color: #fff;
        font-size: 25px;
        line-height: 66px; }
  footer .copyrights {
    margin-top: 40px;
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px; }
