//ファイルのインポート
@import 'lib/import';
@import "lib/base";
@import "lib/layout";
@import "lib/mixins";

body {
	background-color: #FEFEFE;
	font-family: "Noto Sans Japanese";
	font-size: 12px;
	color: #222222;
}

::selection {
	background-color: #ff0033;
}
::-moz-selection {
	background-color: #ff0033;
}

header {
	height: 386px;
	width: 100%;
	overflow: hidden;
	.share {
		width: 100%;
		overflow: hidden;
		margin-top: 20px;
		.share-box {
			float: right;
			margin-right: 36px;
			.share-text {
				line-height: 38px;
				font-size: 14px;
				vertical-align: top;
				margin-right: 6px;
				font-weight: 500;
			}
			.fa {
				font-size: 34px;
				margin: 0 6px;
			}
			a {
				text-decoration: none;
				color: #222222;
				&:hover {
					color: #ff0033;
				}
			}
		}
	}
	h1 {
		text-align: center;
		img {
			width: 400px;
		}
	}
	.links {
		width: 520px;
		margin: 30px auto 0;
		a {
			text-decoration: none;
			color: #fff;
			background-color: #ff0033;
			width: 240px;
			display: inline-block;
			height: 60px;
			text-align: center;
			line-height: 60px;
			font-size: 16px;
			border-radius: 6px;
			letter-spacing: 0.8px;
			&:hover {
				box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
				opacity: 0.8;
			}
			&:first-child {
				margin-right: 32px;
			}
		}
	}
	nav {
		width: 614px;
		margin: 0 auto;
		overflow: hidden;
		ul {
			width: 100%;
			margin-top: 74px;
			overflow: hidden;
			li {
				float: left;
				list-style-type: none;
				margin: 0 50px;
				&:first-child {
					margin-left: 0; 
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					text-decoration: none;
					color: #222;
					font-size: 12px;
					font-weight: bold;
					letter-spacing: 2px;
				}
			}
		}
	}
}

.image_view {
	height: 523px;
	width: 100%;
	background-size: cover;
	background-position: 0 -200px;
	background-image: url(../img/nippo-hero.jpg);
	// background-attachment: fixed;
}

.about {
	margin-top: 150px;
	padding-bottom: 100px;
	overflow: hidden;
	h2 {
		margin-left: 110px;
		font-size: 16px;
		line-height: 30px;
		img {
			width: 159px;
		}
	}
	.comment {
		font-weight: bold;
		margin-top: 35px;
		font-size: 36px;
		letter-spacing: 1px;
		margin-left: 105px;
		color: #333333;
	}
	.description {
		margin-left: 110px;
		margin-top: 40px;
		letter-spacing: 0.5px;
		font-weight: 500;
		font-size: 16px;
		line-height: 38px;
		float: left;
		a {
			background-color: #ff0033;
			color: #fff;
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 1px;
			border-radius: 6px;
			margin-top: 40px;
			text-decoration: none;
			text-align: center;
			line-height: 48px;
			display: inline-block;
			width: 253px;
			height: 48px;
			&:hover {
				box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
				opacity: 0.8;
			}
		}
	}
	.scsho {
		float: right;
		width: 660px;
		margin-top: 40px;
	}
}

.way {
	background-color: #ff0033;
	margin-top: 120px;
	padding-top: 150px;
	h2 {
		font-size: 64px;
		text-align: center;
		color: #fff;
		text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.5);
	}
	.sub-title {
		text-align: center;
		color: #fff;
		letter-spacing: 2px;
		font-weight: medium;
		font-size: 24px;
		overflow: hidden;
	}
	.container {
		width: 1050px;
		margin: 0 auto;
		margin-top: 105px;
		.steps {
			width: 446px;
			height: 385px;
			background-color: #fff;
			border: solid 7px #222222;
			border-radius: 23px;
			float: left;
			margin-right: 110px;
			margin-bottom: 80px;
			position: relative;
			text-align: center;
			&:hover {

			}
			&:nth-child(2n) {
				margin: 0;
			}
			h3 {
				position: absolute;
				top: -40px;
				left: 132px;
				z-index: 100;
			}
			.ma {
				margin-top: 80px;
			}
			h4 {
				font-size: 18px;
				margin-top: 9px;
				letter-spacing: 1px;
				font-weight: bold;
			}
			p{
				font-weight: 500;
				font-size: 14px;
				margin-top: 14px;
				letter-spacing: 0.6px;
				line-height: 22px;
			}
		}
		.clear {
			clear: both;
 			height: 60px;
		}
	}
}

.version {
	background-color: #ff0033;
	padding-top: 150px;
	padding-bottom: 150px;
	.contaier2 {
		width: 840px;
		margin: 0 auto;
		background-color: #fff;
		border: solid 8px #222222;
		border-radius: 28px;
		padding-bottom: 100px;
		h2 {
			font-size: 64px;
			text-align: center;
			color: #ff0033;
			margin-top: 50px;
			text-shadow: 6px 6px 0 #be514c;
		}
		.sub-title {
			text-align: center;
			color: #ff0033;
			letter-spacing: 2px;
			font-weight: bold;
			font-size: 24px;
			overflow: hidden;
		}
		.v {
			margin-top: 60px;
			h5 {
				width: 222px;
				height: 46px;
				// border-radius: 10px;
				text-align: center;
				line-height: 46px;
				border: solid 4px #222222;
				font-size: 24px;
				font-weight: 500;
				margin: 0 auto 28px;
			}
			p {
				width: 500px;
				margin: 0 auto;
				font-size: 500;
				font-size: 14px;
				line-height: 36px;
				.right {
					float: right;
				}
			}
		}
		.partial {
			height: 2px;
			margin: 60px auto;
			width: 90%;
			background-color: #222222;
		}
	}
}

.contact {
	margin-top: 150px;
	h2 {
		font-size: 64px;
		text-align: center;
		color: #ff0031;
		text-shadow: 5px 5px 0 #be514c;
	}
	.sub-title {
		text-align: center;
		color: #ff0031;
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 24px;
		overflow: hidden;
	}	
	p {
		font-size: 16px;
		font-weight: 300;
		text-align: center; 
	}
	.p1 {
		margin-top: 52px;
	}
	.p2 {
		margin-top: 10px;
	}
	.address {
		margin: 45px auto 0;
		width: 550px;
		a {
			text-decoration: none;
			color: #222222;
			margin-right: 100px;
			&:hover {
				color: #ff0031;
			}
			&:last-child {
				margin: 0;
			}
			.ad {
				font-size: 64px;
			}
		}
	}
	.to-top {
		width: 60px;
		height: 60px;
		margin: 150px auto 60px;
		border: solid #222222 2px;
		border-radius: 50%;
		line-height: 60px;
		text-align: center;
		a {
			font-size: 26px;
			text-decoration: none;
			display: block;
		}
	}
}

footer {
	text-align: center;
	background-color: #222222;
	padding-bottom: 10px;
	img {
		width: 340px;
		margin-top: 50px;
	}
	.share2 {
		margin-top: 42px;
		p {
			text-align: center;
			color: #fff;
			font-size: 14px;
			letter-spacing: 2px;
			font-weight: 300;
			margin-bottom: 18px;
		}
		a {
			height: 66px;
			width: 66px;
			display: inline-block;
			border: #fff solid 2px;
			margin: 0 15px;
			.fa {
				color: #fff;
				font-size: 25px;
				line-height: 66px;
			}
		}
	}
	.copyrights {
		margin-top: 40px; 
		color: #b1b1b1;
		font-size: 12px;
		font-weight: 100;
		letter-spacing: 1px;
	}
}

.loadingWrap{
	width: 100%;
	height: 100vh;
	background: #ff0033;
	position: fixed;
	z-index: 120;
	top: 0;
	left: 0;
	text-align: center;
	img {
		position: absolute;
		top: 45%;
		left: 50%;
		margin-top: -100px;
		margin-left: -150px;
	}
}



