doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title Javascript
  body
    div#content
     h1 Hello, DS !
    script(src="js/bundle.js")